<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>2857091577-jp7vpj83965odse77bgp7uv781uitv2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2857091577-jp7vpj83965odse77bgp7uv781uitv2m</string>
	<key>API_KEY</key>
	<string>AIzaSyCV8X_L741XRqNnutvZToU6tcZ-bD9U4jg</string>
	<key>GCM_SENDER_ID</key>
	<string>2857091577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GB.GBRouteTracker</string>
	<key>PROJECT_ID</key>
	<string>gbroutetracker</string>
	<key>STORAGE_BUCKET</key>
	<string>gbroutetracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2857091577:ios:921bad6e7de8d93ba63d28</string>
</dict>
</plist>